@font-face {
  font-family: "Abside";
  src: url("https://github.com/tmwlsh/brandstak-landing/blob/master/src/fonts/Abside-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
