@font-face {
  font-family: "Abside Regular";
  src: local("Abside Regular"), local("Abside-Regular"),
    url("../fonts/Abside-Regular.woff") format("woff");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abside Oblique";
  src: local("Abside Oblique"), local("Abside-Oblique"),
    url("../fonts/Abside-Oblique.woff") format("woff");
  font-weight: light;
  font-style: italic;
  font-display: swap;
}
