@import "../../sass/variables.scss";

.statement {
  padding: 0 0 100px 0;

  .statement-block {
    width: 100%;
    display: block;
    margin-bottom: 50px;

    h4 {
      color: $orange;
      font-size: 26px;
      font-weight: 100;
      margin: 0 0 6px 0;
      line-height: 1.5em;
      flex: 0 0 calc(40% - 40px);
    }

    p {
      margin: 0;
      color: $white;
      font-size: 16px;
      line-height: 1.5em;
      flex: 0 0 calc(60% - 40px);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media all and (min-width: $tablet) {
    padding: 100px 0 200px 0;

    .statement-block {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      h4 {
        font-size: 32px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
