.container {
  z-index: 100;
  margin: 0 auto;
  position: relative;

  &.large {
    max-width: 1920px;
  }

  &.medium {
    max-width: 1366px;
  }

  &.small {
    max-width: 760px;
  }

  &.padd {
    padding: 0 30px;
  }

  &.nopadd {
    padding: 0;
  }
}
