@import "../../sass/variables.scss";

.list-content {
  overflow: hidden;
  position: relative;
  margin: 100px 0 0 0;

  h3 {
    width: 100%;
    display: block;
    font-size: 24px;
    font-weight: 200;
    margin: 20px 0 0 0;
    text-align: center;
    color: $white;
  }

  svg {
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    pointer-events: none;
  }

  @media all and (min-width: $tablet) {
    svg {
      right: 0;
      top: 50%;
      left: auto;
      width: 60%;
      height: auto;
      transform: translateY(-50%);
    }

    h3 {
      font-size: 46px;
      color: rgba($white, 0.3);
    }
  }
}

.list-content-inner {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;

  @media all and (min-width: $tablet) {
    flex-direction: row;
  }
}

.list-content-left {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;

  .list-content-block-image {
    width: 500px;
    height: 300px;
    max-width: 100%;
    margin: 0 auto 25px auto;
  }

  .list-content-block {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.5s $transition;

    &.inactive {
      opacity: 0;
    }

    &.active {
      opacity: 1;
    }

    &:nth-of-type(1) {
      .list-content-block-image {
        background: blue;
      }
    }

    &:nth-of-type(2) {
      .list-content-block-image {
        background: red;
      }
    }

    &:nth-of-type(3) {
      .list-content-block-image {
        background: green;
      }
    }

    &:nth-of-type(4) {
      .list-content-block-image {
        background: purple;
      }
    }

    &:nth-of-type(5) {
      .list-content-block-image {
        background: pink;
      }
    }

    &:nth-of-type(6) {
      .list-content-block-image {
        background: yellow;
      }
    }
  }

  p {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    max-width: 400px;
    line-height: 1.4em;
    color: rgba($white, 0.6);
  }

  @media all and (min-width: $tablet) {
    height: 800px;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(55% - 30px);
  }
}

.list-content-right {
  flex: 0 0 100%;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    .list-text {
      margin: 0;
      padding: 10px;
      color: $white;
      cursor: pointer;
      font-size: 24px;
      list-style-type: none;
      box-sizing: border-box;
      color: rgba($white, 0.3);
      transition: 0.5s $transition;

      &.active {
        color: $white;
      }
    }
  }

  @media all and (min-width: $tablet) {
    flex: 0 0 calc(45% - 20px);

    ul {
      text-align: left;

      .list-text {
        font-size: 36px;

        &:hover,
        &.active {
          color: $white;
        }
      }
    }
  }
}
