@import "../../sass/variables.scss";

.journey {
  padding: 30px 0;

  h3 {
    width: 100%;
    display: block;
    font-size: 36px;
    font-weight: 100;
    margin: 0 0 50px 0;
    position: relative;
    text-align: center;
    color: rgba($white, 0.2);
    text-transform: uppercase;
    font-family: "Abside Regular", Helvetica, sans-serif;

    span {
      color: $white;
      display: none;
      font-weight: 600;
      letter-spacing: 8px;
      text-transform: uppercase;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    li {
      margin: 0;
      flex: 0 0 100%;
      padding: 50px 30px;
      position: relative;
      list-style-type: none;
      box-sizing: border-box;

      span {
        left: 0;
        top: 0;
        font-size: 102px;
        font-weight: 800;
        position: absolute;
        color: rgba($white, 0.2);
        font-family: "Abside Regular", Helvetica, sans-serif;
      }

      p {
        margin: 0;
        color: $white;
        font-size: 18px;
        line-height: 1.5em;
      }
    }
  }

  @media all and (min-width: $tablet) {
    padding: 180px 0 100px 0;

    h3 {
      font-size: 48px;

      span {
        display: block;
        font-size: 12px;
      }
    }

    ul {
      li {
        flex: 0 0 calc(50% - 30px);
      }
    }
  }

  @media all and (min-width: $desktop) {
    h3 {
      span {
        font-size: 16px;
      }
    }

    ul {
      li {
        flex: 0 0 calc(33.333% - 70px);

        p {
          font-size: 24px;
        }

        span {
          transition: 0.5s $transition;
        }

        &:hover {
          span {
            color: rgba($orange, 0.3);
          }
        }
      }
    }
  }
}
