@import "../../sass/variables.scss";

.socials {
  right: 0;
  bottom: 0;
  margin: 0;
  display: none;
  padding: 20px;
  position: fixed;
  text-align: center;

  li {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;

    a {
      color: $white;
      padding: 10px;
      display: block;
      font-size: 18px;
      text-decoration: none;
      transition: 0.5s $transition;
      font-family: "Abside Regular", Helvetica, sans-serif;

      svg {
        width: 30px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media all and (min-width: $tablet) {
    display: block;
  }
}
